<div class="main">
    <h1>My To Do List</h1>
    <h2 class="description">This todo list is CRUD only to local storage</h2>
    <h2>What would you like to do today?</h2>
  
    <ul>
      <li *ngFor="let item of items">
        <mat-checkbox class="todo-item" (change)="updateItemStatus(item)">
        </mat-checkbox>
        <ng-container *ngIf="!item.isEditing; else editMode">
          <span class="checkbox-content" (click)="startEditing(item)">{{ item.description }}</span>
        </ng-container>
        <ng-template #editMode>
          <input
            [(ngModel)]="item.editItemDescription"
            class="edit-input"
            (keyup.enter)="updateItemDescription(item)"
            placeholder="Update here" 
          />
        </ng-template>
      </li>
    </ul>

    <h2 for="addItemInput">What would you like to do today?</h2>

    <input
      #newItem
      placeholder="add an item"
      [(ngModel)]="newItemDescription" 
      (keyup.enter)="addItem()"
      class="lg-text-input"
      id="addItemInput" 
    />
    <button class="btn-primary" (click)="addItem()">Add</button>
</div>
