<!-- change this to a mat sidenav -->
<div class="left-nav">
    <ul>        
        <li>
            <a href="https://angular.io/docs" target="_blank" rel="noopener">
                <img
                width="40"
                alt="Angular Logo"
                src="https://angular.io/assets/images/logos/angular/angular.svg"
                />
            </a>
            <h3 class="nav-discrption" style="display: inline;">Angular Docs</h3>
        </li>
        <li>
            <a href="https://material.angular.io/" target="_blank" rel="noopener">
                <img
                width="40"
                alt="Angular Material Logo"
                src="https://material.angular.io/assets/img/angular-material-logo.svg"
                />
            </a>
            <h3 class="nav-discrption" style="display: inline;">Angular Material</h3>
        </li>
        <li>
            <a href="https://reactjs.org/docs/getting-started.html" target="_blank" rel="noopener">
                <img
                width="40"
                alt="React Logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png"
                />
            </a>
            <h3 class="nav-discrption" style="display: inline;">React Docs</h3>
        </li>
        <li>
            <a href="https://material-ui.com/" target="_blank" rel="noopener">
                <svg viewBox="0 0 600 476.30000000000007" xmlns="http://www.w3.org/2000/svg" width="40" height="30"><path d="M0 259.8V0l225 129.9v86.6L75 129.9v173.2z" fill="#00b0ff"/><path d="M225 129.9L450 0v259.8l-150 86.6-75-43.3 150-86.6v-86.6l-150 86.6z" fill="#0081cb"/><path d="M225 303.1v86.6l150 86.6v-86.6z" fill="#00b0ff"/><path d="M375 476.3l225-129.9V173.2l-75 43.3v86.6l-150 86.6zm150-346.4V43.3L600 0v86.6z" fill="#0081cb"/></svg>
            </a>
            <h3 class="nav-discrption" style="display: inline;">React Material</h3>
        </li>

    </ul>
</div>
