 
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Me and my scotch"
    src="../assets/logos/meAndMyScotch.jpg" />
  <span>Welcome to the Showcase</span>
  <div class="spacer"></div>
   <!-- add login  -->
</div>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div class="side-nav">
    <app-side-nav></app-side-nav>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content" role="main">
      <!-- Main Content -->
      <div class="top-content-boxes">
        <app-rss-feed class="rss-feed"></app-rss-feed>
        <app-todo-list class="todo-list"></app-todo-list>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<router-outlet></router-outlet>
